@import url("https://fonts.googleapis.com/css2?famiy=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
  color: var(--primary-color) !important;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --primary-color: #241f1c;
  --secondary-color: #e7dac7;
  --third-color: #937047;
  --white-color: #fff;
  --text-color: #555;
  --text-gray: #999;
  --black-color: #000;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Quicksabd", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  font-size: 100%;
  font-weight: 400;
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--third-color);
}

/* CUSTOM CSS DESIGN */

h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
  text-transform: capitalize;
  color: var(--primary-color);
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-transform: capitalize;
  color: var(--primary-color);
}

h4 {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--third-color);
  letter-spacing: 1px;
  line-height: 1.75rem;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--primary-color);
  letter-spacing: 1px;
  line-height: 1.75rem;
}

h6 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--primary-color);
  letter-spacing: 1px;
  line-height: 1.75rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--third-color);
  letter-spacing: 1px;
  line-height: 1.75rem;
}

.main-btn {
  display: inline-block;
  padding: 0.625rem 1.875rem;
  line-height: 1.5625rem;
  background-color: var(--primary-color);
  border: 0.1875rem solid var(--primary-color);
  color: var(--white-color);
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 0px 2px 10px -1px rgb(0 0 0 /19%);
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.main-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.wraper {
  padding-top: 8.25rem;
  padding-bottom: 8.25rem;
}

.text-content {
  width: 70%;
  margin: auto;
}

.counter-section h2,
.testimonial-section h2,
.book-food-text h2 {
  color: var(--white-color);
}

/* Header Design */
.navigation-wrap {
  position: fixed;
  width: 100%;
  height: 75px;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: var(--primary-color);
  background-color: var(--white-color);
}

.navigation-wrap.nav-item {
  padding: 0 0.625rem;
  transition: all 200ms linear;
}

.navbar-toggler:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}

.nav-link {
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1px;
}

/* Change navbar styling on scroll */

.navigation-wrap.scroll-on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white-color);
  box-shadow: 0 0.125rem 1.75rem 0 rgb(0, 0, 0, 0.09);
  transition: all 0.15s ease-in-out 0s;
}

/* Top Banner Design */
.top-banner {
  width: 100%;
  height: 750px;
  background: url(Images/bg.jpg) no-repeat;
  background-size: cover;
  padding: 16.875rem 0 9.375rem;
}

/* Counter Design */
.counter-section {
  background-color: var(--primary-color);
  padding: 2.5rem 0;
}

.counter-section p {
  color: var(--white-color);
  text-transform: uppercase;
}

/* About section design */
.about-section {
  background: var(--white-color);
}

.about-section .card,
.about-section .card img {
  border-radius: 0.625rem;
}

.about-section .text-sec {
  padding-left: 2rem;
}

/* PARALLAX EFFECT */
.story {
  width: 100%;
  background: url(Images/story.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 71.0125px;
  padding: 7rem 0;
}

/* Services Design */
.services .card {
  border: none;
  background-color: var(--secondary-color);
  align-items: start;
  text-align: start;
  padding: 22px;
  color: var(--white-color);
}

.services .card .icon {
  border: none;
  background-color: var(--text-gray);
  align-items: center;
  justify-content: center;
}

/* Contact-us Design */
.contact .card {
  border: none;
  background-color: var(--secondary-color);
  padding: 22px;
  color: var(--white-color);
  height: 28rem;
}

.contact .card input {
  margin-left: 22px;
}

/* Footer Design */
.footer {
  background: var(--primary-color);
}

.footer .footer-link {
  font-size: 1rem;
  padding: 0 1.875rem;
  color: var(--white-color) !important;
}

.footer .footer-link:hover {
  color: var(--white-color) !important;
}

.footer a i {
  font-size: 1.5rem;
  color: var(--white-color);
  padding: 0 1rem;
}

/* RESPONSIVE CSS CODE --> */
/* MEDIA QUERY ---------->*/

@media (max-width: 991px) {
  .navigation-wrap.navbar-brand img {
    height: 3.8125rem;
  }
  .navigation-wrap {
    text-align: center;
    background-color: var(--white-color);
  }
  .navigation-wrap.nav-link {
    line-height: 1.875rem;
  }
  .top-banner {
    padding: 9.375rem 0 9.375rem;
  }
  .contact .card {
    height: auto;
    margin: 7px;
  }
  .contact .card input {
    margin-left: 0;
  }
  .services .card {
    padding: 16px;
    margin: 2.2px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 2rem;
    padding: 10.875rem 0 9.375rem;
  }
  .top-banner {
    padding: 10.875rem 0 9.375rem;
  }
  .footer .footer-link,
  .footer a i {
    padding: 0 0.7rem;
  }
  .contact .card {
    padding: 16px;
    margin: 5px;
  }
  .services .card {
    padding: 12px;
    margin: 1.5px;
  }
}
